#fullScreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#mobile {
    display: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #FFF;


}

.headerpic {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/images/missieenvisie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 300px;
}

.headerpic .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Pas de transparantie aan indien nodig */
    z-index: 1;
}

.headerpic h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    position: relative;
    z-index: 2;
    margin-bottom: 10%;
}

.headerpic h1::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background-color: #49D189;

}

.elementen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -180px;
    position: relative;
    margin-bottom: 5%;
}



.links {
    margin-left: -10px;
}

h2 {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    color:
        black;
    font-weight: bold;
}

.FAQ {
    margin: -10%;
    margin-left: 10%;
    margin-bottom: -5%;
    margin-top: 1%;
}

.line33 {
    margin-top: 1%;
    padding: 3px 0;
    background-color: #73e2a7;
    width: 100px;
}

.line1 {
    width: 290px;
    height: 5px;
    background-color: #49D189;
    margin: 1%;
    margin-left: -0.009%;
    margin-top: 4%;
}

.vragen p {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 15px;

}

.vragen {
    margin-top: 10%;
    margin-left: 10%;

    margin-bottom: 10%;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    font-family: 'Lato', sans-serif;

}

.footerInnerWrapper {
    flex: 1;
    height: 100%;
    background-color: black;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    padding: 4% 5%;

}




.footerInnerWrapper h4 {

    font-weight: 400;

    margin-top: -5%;

}




.footerInnerWrapper h2 {

    font-weight: 400;

    margin-bottom: 1%;
    color: #FFF;

}




#middenFooter {

    align-items: center;

}

#middenFooter img {
    margin-top: 4%;
}


.iconWrapper {

    display: flex;

    flex-direction: row;

    align-items: start;

}

.iconWrapper img {

    padding-top: 7%;

    margin-right: 1%;

    width: 5%;

}




#location {

    padding-top: 5%;

    width: 4%;

}

@media (max-width: 768px) {

    #fullScreen {
        display: none;
    }

    #mobile {
        display: flex;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 50;

    }
    #menu__toggle:checked~.menu__box li:nth-child(1) {
        margin-top:200px;
    }
    .logotwo {
        margin-top: 20px;
        margin-bottom: -10px;
        margin-left: 10px;
        width: 120px;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 100;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        float: right;
        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #49D189;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;

        color: #333;

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;

        text-decoration: none;

        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .wrapperOnder {
        max-width: 1200px;
        margin: 0 auto;
    }

    .headerpic {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/images/missieenvisie.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        height: 300px;
    }

    .headerpic .overlay {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        /* Pas de transparantie aan indien nodig */
        z-index: 1;
    }

    .headerpic h1 {
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        padding-top: 100px;
        font-size: 30px;
        position: relative;
        z-index: 2;
        margin-bottom: 10%;
    }

    .headerpic h1::after {
        content: "";
        position: relative;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 3px;
        background-color: #49D189;

    }

    .imgWrapper {
        margin-top: -8%;
        width: 103%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        justify-content: space-between;
        gap: 20%;
        margin-right: -4%;
    }

    .elementen {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: -200px;
        position: relative;
        margin-bottom: 5%;
    }


    .decoImg {
        width: 30%;
        position: relative;
    }

    .links {
        margin-left: -10px;
        width: 40%;
        position: relative;
    }

    h2 {
        font-size: 20px !important;
        font-family: 'Lato', sans-serif;
        color:
            black;
        font-weight: bold;
    }

    .FAQ {
        margin: -10%;
        margin-left: 10%;
        margin-bottom: -5%;
        margin-top: 1%;
    }

    .line33 {
        margin-top: 5%;
        padding: 3px 0;
        background-color: #73e2a7;
        width: 40px;
    }

    .line1 {
        width: 90px;
        height: 5px;
        background-color: #49D189;
        margin: 1%;
        margin-left: -0.009%;
        margin-top: 4%;
    }

    #swirlRight {
        width: 100px;
        margin-right: 0px;
    }

    .vragen p {
        position: relative;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        font-size: 10px;

    }

    .vragen {
        margin-top: 10%;
        margin-left: 10%;

        margin-bottom: 10%;
    }

    footer {
        height: 20%;
        display: block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        text-align: center;
    }

    .footerInnerWrapper {
        flex: 1;
        width: min-content;
        display: flex;
        flex-direction: column;
        align-items: start;
        color: white;
        padding: 4% 5%;
    }

    .footerInnerWrapper h4 {
        font-weight: 400;
        margin-top: -5%;
    }

    .footerInnerWrapper h3 {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 15%;
        text-align: center;
        margin-left: 450%;
        width: 500%;
    }

    .footerInnerWrapper h2 {
        font-weight: 400;
        margin-bottom: 1%;
        font-size: 35px;
        margin-left: 45%;
    }

    #middenFooter {
        align-items: center;
    }

    #middenFooter img {
        margin-left: 450%;
    }

    .iconWrapper {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-left: 65%;
    }

    .iconWrapper img {
        padding-top: 7%;
        margin-right: 5%;
        width: 7%;
        margin-left: -65%;
    }

    #location {
        padding-top: 5%;
        width: 7%;
        margin-right: 5%;
    }

    .logo {
        width: 100px
    }

    .logofooter {
        padding-bottom: 30px;
        margin-left: 18%;
        width: 100%;
    }

    .footext {
        font-family: "Poppins", sans-serif;
        line-height: 24px;

        margin-left: 1%;
        width: 230px;
    }

    .tekst-footer {
        font-family: "Poppins", sans-serif;
        line-height: 22px;
        margin-left: 16%;
    }


}

@media screen and (min-width:768px) {
    .logotwo{
        display: none;
    }
  
}
