@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500&display=swap");

:root {
	--title: "Lato", sans-serif;

	--text: "Poppins", sans-serif;

	--hard-green: #49d189;

	--light-green: #f9f9f9;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/** Mobiele versie **/

/********** Nav **********/

.logoone {
	margin-top: 10px;
	position: relative;
	left: -60px;
	width: 170px;
}

.language {
	width: 1.5rem;
	height: 1rem;
	cursor: pointer;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.buttonn {
	margin-left: 25px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	background-color: var(--hard-green);
	border: none;
	padding: 15px 25px;
	font-weight: 700;
	box-shadow: 2px 2px 2px rgb(231, 231, 231);
}

/* .button {
	margin-left: 25px;
	cursor: pointer;
	color: white;
	background-color: var(--hard-green);
	border: none;
	padding: 15px 25px;
	font-weight: 700;
	box-shadow: 2px 2px 2px rgb(231, 231, 231);
}
.button-1 {
	margin-left: 25px;
	cursor: pointer;
	color: white;
	background-color: var(--hard-green);
	border: none;
	padding: 15px 25px;
	font-weight: 700;
	box-shadow: 2px 2px 2px rgb(231, 231, 231);
} */

.button-1:hover {
	background-color: var(--hard-green);
}

/* Dropdown menu */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--light-green);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	margin-top: 5px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#fullScreen {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	font-family: var(--title);
}

#mobile {
	display: none;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.textdiv {
	margin-top: 18vw;
	align-items: center;
	margin-left: -50px;
}
.head-section {
	text-align: left;
	font-family: "Lato", sans-serif;

	align-items: center;
	display: flex;
}
.head-section h1 {
	color: black;
	font-size: 5vw;
	margin-bottom: 20px;
	padding-left: 10px;
	position: relative;
	max-width: 1200px;
	margin-left: 19vw;
}
.head-section h1:nth-child(1) {
	background-color: white;
	width: 47vw;
}
.head-section h1:nth-child(2) {
	background-color: white;
	width: 55vw;
}
.head-section h1:nth-child(3) {
	background-color: white;
	width: 48vw;
}
.head-section p {
	font-family: "Poppins", sans-serif;
	color: white;
	width: 70vw;
	margin-left: 20vw;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 4vw;
	font-size: 3vw;
}
.head-section a {
	font-family: "Poppins", sans-serif;
	left: 18.8vw;
	position: relative;
	box-shadow: none;
	font-size: 3vw;
	font-weight: lighter;
	padding: 10px;
	background-color: #49d189;
}
.textdiv a:nth-child(5) {
	background-color: black;
	color: white;
	margin-left: 5px;
	margin-right: 20px;
}
.textdiv a:nth-child(6) {
	color: white;
}
@media (max-width: 768px) {
	.column-news h1::before {
		position: absolute;
		content: "";
		left: 15px;
		bottom: -614px;
		width: 70px;
		height: 5px;
		background-color: #48d088;
	}
	.logoone {
		display: flex;
	}
	#fullScreen {
		display: none;
	}

	#mobile {
		display: flex;
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 50;
	}
	#menu__toggle:checked ~ .menu__box li:nth-child(1) {
		margin-top: 67px;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		float: right;
		width: 100%;
		height: 2px;

		background-color: #616161;

		transition-duration: 0.25s;
	}

	.menu__btn > span::before {
		content: "";
		top: -8px;
	}

	.menu__btn > span::after {
		content: "";
		top: 8px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		right: -100%;

		width: 300px;
		height: 100%;

		margin: 0;
		padding: 80px 0;

		list-style: none;

		background-color: gray;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

		transition-duration: 0.25s;
	}
	.menu__box a {
		color: white;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;

		color: #333;

		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: 600;

		text-decoration: none;

		transition-duration: 0.25s;
	}

	.menu__item:hover {
		background-color: #cfd8dc;
	}

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}
}

/********** Main **********/
main {
	padding-top: 480px;
}

/********** Hero **********/

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.2) url(../images/new/HomeImage.webp);
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	width: 100%;
	height: 44vh;
	z-index: -1;
	margin-top: 4.25em;
	animation: introLoad 2s backwards;

	background-blend-mode: darken;
}

@keyframes introLoad {
	from {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	to {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

.title,
span {
	color: #48d088;
}

.hero-section {
	position: absolute;
	bottom: 200px;
	right: 1px;

	padding: 10px 10px 0 10px;
}

.title-text {
	font-size: 16px;
	font-family: "Lato", sans-serif;
}

.title-text h1:first-child {
	background-color: white;
	width: 70%;
	padding-left: 5px;
}

.title-text h1:nth-child(2) {
	background-color: white;
	width: 86%;
	padding-left: 5px;
}

.title-text h1:nth-child(3) {
	background-color: white;
	width: 70%;
	padding-left: 5px;
}

.sub-text,
p {
	width: 92%;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: white;
	font-size: 10px;
	text-shadow: 1px 2px 20px black, 2px 3px 20px black, 3px 4px 20px black,
		4px 5px 20px black, 5px 6px 20px black, 6px 7px 20px black;
}

.hero-btns {
	gap: 1em;
	display: flex;
}

.first-btn {
	background-color: #48d088;
	font-size: 11px;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.second-btn {
	background-color: #000000;
	font-size: 11px;
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.first-btn:hover {
	background-color: #8ce4b7;
}

.second-btn:hover {
	background-color: #303030;
}

.home-bol {
	position: absolute;
	top: 380px;
	left: 117px;
	width: 200px;
}

/** About me **/

.row {
	display: flex;
	margin-top: 30px;

	flex-direction: column-reverse;
}

.sec-title h2 {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 1.28em;
	color: #222222;
	font-weight: 600;
	padding-bottom: 18px;
	font-family: "lato", "sans-sherif";
	font-weight: 400;
}

.sec-title h2:before {
	position: absolute;
	content: "";
	left: 0px;
	bottom: 0px;
	width: 70px;
	height: 5px;
	background-color: #48d088;
}

.sec-title .text {
	position: relative;
	font-size: 16px;
	line-height: 23px;
	color: black;
	font-weight: 400;
	margin-top: 35px;
}

.about-section {
	position: relative;
	padding: 0px 0px 70px;
}

.about-section .sec-title {
	margin-bottom: 45px;
}

.about-section .content-column {
	position: relative;
	margin-bottom: 50px;
}

.about-section .content-column .inner-column {
	position: relative;
	padding: 10px 10px 0 10px;
	margin-top: -120px;
}

.about-section .text {
	margin-bottom: 40px;
	font-size: 10px;
	line-height: 22px;
	color: black;
	font-weight: 400;
	font-family: "poppins", "sans-sherif";
	width: 100%;
	margin-top: -10px;
}

.about-section .image-column {
	position: relative;
	margin-top: 10px;
	width: 90%;
	height: 100%;
}

.about-section .image-column .inner-column {
	position: relative;
	padding-left: 100px;
	padding-bottom: 125px;
}

.about-section .image-column .image-1 {
	position: relative;
	width: 170px;
	bottom: 70px;
}

.about-section .image-column .image-2 {
	position: absolute;
	right: 74px;
	bottom: 140px;
	width: 170px;
	border: 4px solid #48d088;
}

.image-column {
	position: relative;
}

.newsfeed h1 {
	font-family: "lato", " sans-sherif";
	font-weight: 400;
	font-size: 30px;
}

.newsfeedbox p {
	text-shadow: none;
	color: black;
	font-family: var(--text);
}

.newsfeedbox div > img:first-child {
	width: 100%;
	font-size: 60px;
}

.newsfeedbox h2 {
	font-family: "Lato", "sans-serif";
	padding-top: 10px;
	font-size: 22px;
}

.newsfeed {
	padding: 10px;
	margin-top: -470px;
}

.newsletter p {
	text-shadow: none;
	color: black;
	margin-top: 500px;
}

.lijn {
	position: absolute;
	right: 205px;
	margin-left: 20%;
	margin-top: -400px;
	width: 300px;

	display: none;
}

.bol {
	display: none;
}

.newsfeedbox {
	margin-top: 50px;
}

.container-news {
	display: flex;
	justify-content: center;

	margin: 0 auto;
	text-align: center;
	margin-top: 160px;
	display: inline;
}

.column-news {
	flex: 1;
	text-align: left;
	padding-left: 10px;
	background-color: #e7f9ef;
	padding: 10px;
}

.column-news:nth-child(1) {
	padding-left: 157px;
}

.column-news h1 {
	font-family: "lato", "sanas-sherif";
	font-weight: 400;
	font-size: 30px;
}

.conatiner-news h1 {
	color: #333;
}

.container-news p {
	margin-bottom: 20px;
	width: 90%;
	color: black;
	text-shadow: none;
	font-family: "poppins", "sans-sherif";
	line-height: 22px;
}

.subscribe-btn {
	padding: 10px 15px;
	background-color: #48d088;
	color: #000000;
	border: none;
	font-size: 11px;
	font-family: "poppins", "sans-sherif";
	cursor: pointer;
}

.image {
	filter: brightness(80%);

	width: 100%;
	padding-top: 12px;
}

.news-abo {
	margin-top: -150px;
}

.lijn-2 {
	position: absolute;
	right: 40%;
	margin-left: 20%;
	margin-top: -60px;
	width: 300px;
	transform: rotate(-20deg);
	display: none;
}

.column-news {
	flex: 1;
	text-align: left;
	padding-left: 10px;
	background-color: #e7f9ef;
	padding: 10px;
}

.column-news:nth-child(1) {
	padding-left: 15px;
}

.column-news h1 {
	font-family: "lato", "sanas-sherif";
	font-weight: 400;
	font-size: 30px;
}

.column-news h1::before {
	position: absolute;
	content: "";
	left: 15px;

	width: 70px;
	height: 5px;
	background-color: #48d088;
}

.newsfeedbox button {
	color: white;
	background-color: black;
	font-weight: 400;
	padding: 3px 10px;
	margin-top: 10px;
	font-family: "poppins", "sans-sherif";
	font-size: 10px;
	margin-bottom: 20px;
}

/**FOOTER**/

footer {
	position: relative;
	z-index: 2;
	height: 20%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
}

.footerInnerWrapper {
	flex: 1;
	width: min-content;
	display: flex;
	flex-direction: column;
	align-items: start;
	color: white;
	padding: 4% 5%;
}

.footerInnerWrapper h4 {
	font-weight: 400;
	margin-top: -5%;
}

.footerInnerWrapper h3 {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 15%;
	text-align: center;
	font-family: "Lato", sans-serif;
	line-height: 30px;
	width: 200px;
}

.footerInnerWrapper h2 {
	font-weight: 400;
	margin-bottom: 1%;
	font-size: 30px;
	font-family: "Lato", sans-serif;
	padding-bottom: 20px;
}

#middenFooter {
	align-items: center;
}

.facebook {
	width: 50px;
}

.iconWrapper {
	display: flex;
	flex-direction: row;
	align-items: start;
}
.iconWrapper img {
	padding-top: 2%;
	margin-right: 5%;
	width: 8%;
	display: none;
}

#location {
	padding-top: 1%;
	width: 4%;
}

.logofooter {
	padding-bottom: 30px;
}

.tekst-footer {
	font-family: "Poppins", sans-serif;
	line-height: 22px;
	padding: 10px;
	font-size: 16px;
}

.footext {
	font-family: "Poppins", sans-serif;
	line-height: 22px;
	line-height: 25px;
	padding-bottom: 5px;
	font-size: 16px;
}
@media (min-width: 1300px) {
	footer {
		position: relative;
		z-index: 2;
		height: 20%;
		text-align: left;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: #000;
		margin-top: -50px;
	}
}

/******************************************************************************************* Tablet *********************************************************************************************/

@media (min-width: 768px) {
	/********** Nav **********/

	.lijn {
		position: absolute;
		right: 205px;
		margin-left: 20%;
		margin-top: -400px;
		width: 300px;
		display: inline;
	}

	.bol {
		position: absolute;
		right: 330px;

		margin-top: -80px;
		width: 75px;
	}

	/********** Main **********/
	main {
		padding-top: 500px;
	}

	/********** Hero (1)**********/

	.hero-text {
		font-size: 1.6rem;
	}

	.hero-section {
		position: absolute;
		bottom: 140px;
		right: 285px;
		padding: 10px 20px 0px;
	}

	.hero-image {
		height: 91vh;

		top: 10px;
	}

	.title-text {
		font-size: 23px;
		font-family: "Lato", sans-serif;
	}

	.title-text h1:first-child {
		background-color: white;
		width: 68%;
		padding-left: 5px;
	}

	.title-text h1:nth-child(2) {
		background-color: white;
		width: 82%;
		padding-left: 5px;
	}

	.title-text h1:nth-child(3) {
		background-color: white;
		width: 67%;
		padding-left: 5px;
	}

	.sub-text,
	p {
		width: 100%;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
		color: white;
		text-shadow: 1px 2px 20px black, 2px 3px 20px black, 3px 4px 20px black,
			4px 5px 20px black, 5px 6px 20px black, 6px 7px 20px black;
	}

	.hero-btns {
		gap: 1em;
		display: flex;
	}

	.first-btn {
		background-color: #48d088;
		font-size: 15px;
		text-decoration: none;
		color: white;
		padding: 10px 15px;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
	}

	.second-btn {
		background-color: #000000;
		font-size: 15px;
		text-decoration: none;
		color: white;
		padding: 10px 15px;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
	}

	.first-btn:hover {
		background-color: #8ce4b7;
	}

	.second-btn:hover {
		background-color: #303030;
	}

	.home-bol {
		position: absolute;
		top: 365px;
		left: 515px;

		width: 250px;
	}

	.row {
		display: flex;
		margin-top: 76px;
		flex-direction: row;
	}

	.sec-title h2 {
		position: relative;
		display: block;
		font-size: 30px;
		line-height: 1.28em;
		color: #222222;
		font-weight: 600;
		padding-bottom: 18px;
		font-family: "lato", "sans-sherif";
		font-weight: 400;
	}

	.sec-title h2:before {
		position: absolute;
		content: "";
		left: 0px;
		bottom: 0px;
		width: 100px;
		height: 7px;
		background-color: #48d088;
	}

	.sec-title .text {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: black;
		font-weight: 400;
		margin-top: 35px;
	}

	.about-section {
		position: relative;
		padding: 309px 0 70px;
	}

	.about-section .sec-title {
		margin-bottom: 45px;
	}

	.about-section .content-column {
		position: relative;
		margin-bottom: 50px;
	}

	.about-section .content-column .inner-column {
		position: relative;
		padding-left: 50px;
		margin-top: 10px;
	}

	.about-section .text {
		margin-bottom: 40px;
		font-size: 12px;
		line-height: 25px;
		color: black;
		font-weight: 400;
		font-family: "poppins", "sans-sherif";
		width: 90%;
		margin-top: -20px;
	}

	.about-section .image-column {
		position: relative;
	}

	.about-section .image-column .inner-column {
		position: relative;
		padding-left: 200px;
		padding-bottom: 125px;
	}

	.about-section .image-column .image-1 {
		position: relative;
		width: 200px;
		top: 20px;
	}

	.about-section .image-column .image-2 {
		position: absolute;
		right: 150px;
		bottom: 80px;
		width: 200px;
		border: 7px solid #48d088;
	}

	.newsfeedbox div > img:first-child {
		width: 200px;
		height: 150px;
	}

	.newsfeedbox {
		display: flex;
	}

	.newsfeedbox button {
		color: white;
		background-color: black;
		font-weight: 400;
		padding: 3px 10px;
		margin-top: 10px;
		font-family: "poppins", "sans-sherif";
		font-size: 10px;
	}

	.newsfeedbox h2 {
		font-family: "Lato", "sans-serif";
		padding-top: 10px;
		font-size: 17px;
	}

	.newsfeed {
		padding-left: 20px;
		margin-top: -506px;
	}

	.newsfeedbox p {
		text-shadow: none;
		color: black;
		font-family: var(--text);
		width: 85%;
	}

	.news-abo {
		margin-top: -110px;
	}
}

/******************************************************************************************* Desktop ********************************************************************************************/

@media (min-width: 1300px) {
	.textdiv {
		margin-top: 6vw;
		align-items: center;
		margin-left: -160px;
	}
	.head-section {
		text-align: left;
		font-family: "Lato", sans-serif;

		align-items: center;
		display: flex;
	}
	.head-section h1 {
		color: black;
		font-size: 3.5vw;
		margin-bottom: 20px;
		padding-left: 10px;
		position: relative;
		max-width: 1200px;
		margin-left: 19vw;
	}
	.head-section h1:nth-child(1) {
		background-color: white;
		width: 34vw;
	}
	.head-section h1:nth-child(2) {
		background-color: white;
		width: 39vw;
	}
	.head-section h1:nth-child(3) {
		background-color: white;
		width: 36vw;
	}
	.head-section p {
		font-family: "Poppins", sans-serif;
		color: white;
		width: 47vw;
		margin-left: 19vw;
		margin-top: 30px;
		margin-bottom: 30px;
		line-height: 1.5vw;
		font-size: 1vw;
	}
	.head-section a {
		font-family: "Poppins", sans-serif;
		left: 18.8vw;
		position: relative;
		box-shadow: none;
		font-size: 1vw;
		font-weight: lighter;
		padding: 1vw 1vw 1vw 1vw;
		background-color: #49d189;
	}
	.textdiv a:nth-child(5) {
		background-color: black;
		color: white;
		margin-left: 5px;
		margin-right: 20px;
	}
	.textdiv a:nth-child(6) {
		color: rgb(0, 0, 0);
	}

	.hero-image {
		background: rgb(0, 0, 0, 0.2) url(../images/Homeimg.jpg);

		background-size: cover;
		background-position-x: 50%;
		background-position-y: 45%;
		height: 300px;
		width: 100%;
		z-index: 1;
		background-blend-mode: darken;
	}
	/** Wrapper **/
	.wrapper {
		width: 1300px;
		margin: 0 auto;
	}

	/********** Nav **********/

	.container-news {
		display: flex;
	}

	.image-column::before {
		content: "";
		position: absolute;
		bottom: -27px;
		left: -50%;
		width: 780px;
		height: 450px;
		background-color: #e7f9ef;
	}

	.lijn {
		position: absolute;
		right: 300px;
		margin-left: 20%;
		margin-top: -500px;
		width: 380px;
		display: inline;
	}

	.bol {
		position: absolute;
		right: 500px;

		margin-top: -100px;
		width: 140px;
		display: inline;
	}

	.column-news h1 {
		font-family: "lato", "sanas-sherif";
		font-weight: 400;
		font-size: 50px;
		margin: 30px 0;
	}

	.container-news p {
		font-size: 20px;
		font-family: var(--text);
		line-height: 35px;
		width: 70%;
	}
	.column-news:nth-child(1) {
		padding-left: 159px;
	}

	.column-news h1::before {
		position: absolute;
		content: "";
		left: 161px;
		bottom: -970px;
		width: 70px;
		height: 5px;
		background-color: #48d088;
	}

	.subscribe-btn {
		padding: 12px 50px;

		font-size: 15px;
		margin-bottom: 10px;
	}

	/********** Main **********/
	main {
		max-width: 1300px;
		margin: 0 auto;
	}

	/********** Hero (1) **********/

	.hero-section {
		position: absolute;
		bottom: 160px;
		right: 245px;
	}

	.hero-image {
		height: 92vh;

		top: 10px;
	}

	.title-text {
		font-size: 32px;
		font-family: var(--title);
	}

	.title-text h1:first-child {
		background-color: white;
		width: 38%;
		padding-left: 5px;
	}

	.title-text h1:nth-child(2) {
		background-color: white;
		width: 46%;
		padding-left: 5px;
	}

	.title-text h1:nth-child(3) {
		background-color: white;
		width: 37%;
		padding-left: 5px;
	}

	.sub-text > p {
		width: 52%;
		font-family: var(--text);
		font-weight: 400;
		color: white;
		text-shadow: 1px 2px 20px black, 2px 3px 20px black, 3px 4px 20px black,
			4px 5px 20px black, 5px 6px 20px black, 6px 7px 20px black;
		font-size: 17px;
	}
	.newsfeedbox p {
		text-shadow: none;
		color: black;
		font-family: var(--text);
	}

	.hero-btns {
		gap: 1em;
		display: flex;
	}

	.first-btn {
		background-color: #48d088;
		font-size: 15px;
		text-decoration: none;
		color: white;
		padding: 10px 15px;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
	}

	.second-btn {
		background-color: #000000;
		font-size: 15px;
		text-decoration: none;
		color: white;
		padding: 10px 15px;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
	}

	.first-btn:hover {
		background-color: #8ce4b7;
	}

	.second-btn:hover {
		background-color: #303030;
	}

	.home-bol {
		position: absolute;
		top: 460px;
		left: 1010px;

		width: 380px;
	}

	.row {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
	}

	.sec-title h2 {
		position: relative;
		display: block;
		font-size: 50px;
		line-height: 1.28em;
		color: #222222;
		font-weight: 600;
		padding-bottom: 18px;
		font-family: "lato", "sans-sherif";
		font-weight: 400;
	}

	.sec-title .text {
		position: relative;
		font-size: 16px;
		line-height: 26px;
		color: black;
		font-weight: 400;
		margin-top: 35px;
	}

	.about-section {
		position: relative;
		padding: 200px 0 70px;
	}

	.about-section .sec-title {
		margin-bottom: 45px;
	}

	.about-section .content-column {
		position: relative;
		margin-bottom: 50px;
	}

	.about-section .content-column .inner-column {
		position: relative;
		padding-left: 86px;
		top: 50px;
	}

	.about-section .text {
		margin-bottom: 40px;
		font-size: 20px;
		line-height: 35px;
		color: black;
		font-weight: 400;
		font-family: "poppins", "sans-sherif";
		width: 90%;
	}

	.about-section .image-column {
		position: relative;
	}

	.about-section .image-column .inner-column {
		position: relative;
		padding-left: 200px;
		padding-bottom: 125px;
	}

	.about-section .image-column .image-1 {
		position: relative;
		width: 300px;
	}

	.about-section .image-column .image-2 {
		position: absolute;
		right: 150px;
		bottom: 60px;
		width: 300px;
		border: 7px solid #48d088;
	}

	.newsfeed h2 {
		margin-bottom: -10px;
	}

	.newsfeed {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: -391px;
	}

	.newsfeedbox::before {
		content: "";
		position: absolute;
		bottom: -2278px;
		left: -50%;
		width: 150%;
		height: 550px;
		background-color: #e7f9ef;
	}

	.newsfeed h1 {
		font-family: "Lato", sans-serif;
		font-size: 50px;
		margin-left: 0px;
		margin-bottom: 30px;
		font-weight: 400;
		position: relative;
	}

	section.newsfeed h1:after {
		content: "";
		position: absolute;
		bottom: -27px;
		left: 0;
		width: 130px;
		height: 7px;
		background-color: #48d088;
	}

	.newsfeedbox {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		/* Replace this with background-color: #E7F9EF;your desired color */
		width: 100%;

		margin-top: 150px;
	}
	.newsfeedbox button {
		margin: 40px 0px;
		border: 0px;
	}
	.newsfeedbox p {
		width: 400px;
	}
	.newsfeedbox div {
		position: relative;
		bottom: 100px;
		margin-left: -1px;
	}
	.newsfeedbox div > img:first-child {
		width: 360px;
		height: 250px;
	}
	.newsfeedbox h2 {
		font-family: "Lato", sans-serif;
		padding-top: 10px;
		font-size: 30px;
	}
	.newsfeedbox p {
		font-family: "Poppins", sans-serif;
		font-size: 18px;
		width: 91%;
	}
	.newsfeedbox button {
		color: white;
		background-color: black;
		font-weight: 400;
		padding: 6px 16px;
		margin-top: 10px;
		font-family: "poppins", "sans-sherif";
		font-size: 14px;
	}

	.abonneer {
		text-align: center;
		align-items: center;
		align-items: center;
	}

	.abonneer p {
		text-shadow: none;
		font-size: 13px;
		font-family: "poppins", "sans-sherif";
		text-align: center;
	}

	.abonneer h1 {
		color: white;
		font-family: "lato", "sans-sherif";
		font-size: 20px;
	}

	.abo-image {
		position: absolute;

		background: rgb(0, 0, 0, 0.5) url(./images/newos.jpg);
		background-size: cover;
		background-position-x: 50%;
		background-position-y: 50%;
		width: 80%;
		height: 30vh;
		z-index: -1;
		margin-top: 4.25em;
		animation: introLoad 2s backwards;

		background-blend-mode: darken;
	}

	.news-abo {
		margin-top: 100px;
	}

	.lijn-2 {
		position: absolute;
		right: 40%;
		margin-left: 20%;
		margin-top: -60px;
		width: 300px;
		transform: rotate(-20deg);
		display: inline;
	}
}
