body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Navigatiebar */
  .navbar {
    background-color: #ffffff;
    overflow: hidden;
    padding-top: 35px;
    padding-left: 300px;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar a {
    font-family: 'Poppins', sans-serif;
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .navbar .logo img {
    width: 50%;
  }
  
  .navbar .logo {
    width: 20%;
  }
  
  .navbar .flag {
    width: 2%;
  }
  
  .navbar .home {
    float: left;
    color: #49D189;
    font-weight: bold;
  }
  
  .navbar .donate {
    float: left;
    color: white;
    padding: 10px;
    font-size: 20px;
    background-color: #49D189;
    margin-top: 2.5px;
  }
  
  /* Headertext */
  .headerpic {
    position: relative;
    overflow: hidden;
    height: 320px;
  }
  
  .headerpic h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    position: relative;
    z-index: 2;
  }
  
  .headerpic h1::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 10px;
    background-color: #49D189;
  }
  
  /*content*/
  .content-section {
    background-color: #49D189;
    width: 100%;
  }
  
  .content {
    display: flex;
    font-family: 'Poppins' , sans-serif;
  }
  
  .left-content {
    flex: 2;
    padding: 20px;
  }
  
  .right-content {
    flex: 1;
  }
  
  .left-content h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 100px;
    font-size: 32px;
    position: relative;
    z-index: 2;
  }
  
  .right-content img {
    max-width: 100%;
    height: auto;
  }
  
  form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  form label {
    flex-basis: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="submit"] {
    flex-basis: 10%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  
  form input[type="submit"] {
    background-color: #49D189;
    color: white;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #3eab6f;
  }
  